@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

html {
    font-family: "Comfortaa", sans-serif;

}

nav {
    display: flex;
    flex-direction: column;
    background-color: black;

}

ul {
    list-style-type: none;
    color: white;
    align-self: center;
}

li {
    margin-top: 15px;

}

@media (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: flex-end;
    }

    li {
        display: inline-block;
        margin-right: 15px;
        margin-top: 0px;
    }
}