<div class="media">
    <div class="media__image">
            <img class="icon icon--primary" src="images/snap.svg">
    </div>
    <div class="media__body">
        <h3 class="media__title">East Start & Mange Updates</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, voluptates excepturi! Tempore accusantium recusandae cum, perferendis sit blanditiis autem officiis cumque voluptate. Molestias soluta natus accusamus sunt modi expedita neque.</p>
    </div>
</div>