<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus omnis commodi quibusdam necessitatibus nesciunt, error cupiditate optio officia molestiae voluptatibus, nihil quo quasi iste harum officiis fugit provident sit minima?</p>
    <footer>
        <div class="media">
            <div class="media__image">
                    <img class="icon icon--primary quote__line" src="images/line.svg">
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">John Smith</h3>
                <p class="quote__company">ABC Company</p>
            </div>
        </div>
    </footer>
</blockquote>